*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-image: url('images/back.jpg');
    background-size: fill;         
    background-position: center;    
    background-attachment: fixed; 
}

h1{
    font-size: 3rem;
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: black;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 8rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 6rem;
}

#msg{
    z-index: -1;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    margin: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}